<!DOCTYPE html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Treadmill Controller</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">   
    <link rel="stylesheet" href="../static/styles.css"/> 
    <link href="../static/mystyles.css" type="text/css" rel="stylesheet">
    <body style="overflow:hidden;">
        <div class = "row">
            <!-- Buttons -->
            <div class="column" style="width:50%;height:100%;" >
                    <button type="button" class = "mybutton" id="upButton">Up</button>
                    <button type="button" class = "mybutton" id="downButton">Down</button>
                <!--Up and down buttons-->
                

            </div>
            <!-- Speed Slider -->
            <div class = "column">
                <div class = "table">
                    <div id = "slider" class = "parent" style="width:50%;height:100%;">
                            <input class = "child" type="range"id="speed" name="speed" min="0" max="100" value="0"/>
                            <label class = "child" id="speedLabel" for="speed">Speed: 0</label>
                            <button type="button" class = "mybutton" id="stopButton" style="height:100px;margin-top:-200px;">Stop</button>
                    
                    </div>
                </div>
            </div>

            
        </div>
        <script>
	    <!-- App object -->
            var app = {
                initialize: function() {
                    // bind events
		            // When upButton pressed call app.up function
                    upButton.addEventListener('mousedown', this.up, false);
		            // When upButton released call app.inclineStop function 
                    upButton.addEventListener('mouseup', this.inclineStop, true);
		            // When downButton pressed call app.down function
                    downButton.addEventListener('mousedown',this.down, false);
		            // When downButton released call app.inclineStop function
                    downButton.addEventListener('mouseup', this.inclineStop, true);
                    // When downButton released call app.inclineStop function
                    stopButton.addEventListener('mouseup', this.inclineStop, true);
		            // When speed changes call this.setSpeed function
                    speed.addEventListener('change', this.setSpeed, false);
                    
                    //Input on mobile
                    //bind events
                    
		            //When upButton pressed call app.up function
                    upButton.addEventListener('touchstart', this.up, false);
		            //When upButton released call app.inclineStop function 
                    upButton.addEventListener('touchend', this.inclineStop, true);
		            //When downButton pressed call app.down function
                    downButton.addEventListener('touchstart',this.down,false);
		            //When downButton released call app.inclineStop function
                    downButton.addEventListener('touchend', this.inclineStop, true);
                    //When stopButton released call app.inclineStop function
                    stopButton.addEventListener('touchend', this.inclineStop, true);
                    // When speed changes call this.setSPeed function
                    speed.addEventListener('touchmove',this.setSpeed, false);

                },
		
                inclineStop: async function() {
                    // Print to the website console
		            console.log("Stop Incline");
		            // This calls the api which tells python to fetch stop, up or down value from the respective endpoint
                    const response = await fetch("/inclineStop");
                    // This grabs the response from the api to confirm if the signal is received
		            const text = await response.text();
                    // Print the response to the website console
		            console.log(text);
                },
                up: async function() {
		            // Print to the website console
                    console.log("Up");
		            // This calls the api wihch tells python to get stop, up or down value from the respective enedpoint
                    const response = await fetch("/up");
                    // This grabs the response from the api to confirm if the signal is received
                    const text = await response.text();
                    // Print the response to the website console
                    console.log(text);
                },
                down: async function() {
		             // Print to the website console
                    console.log("Down");
		            // This calls the api which tells python to get stop, up or down value from the respective endpoint
                    const response = await fetch("/down");
		            // This grabs the response from the api to confirm if the signal is received
                    const text = await response.text();
		            // Print the response to the website console
                    console.log(text);
                },

                setSpeed: async function() {
		            // Print the speed to the website console
                    console.log(`Set the speed to ${speed.value}`);
		            // This calls the api which tells python to get the speed value from the respective endpoint
                    document.getElementById('speedLabel').innerText = 'Speed: ' + speed.value;
		            // This grabs the response from the api to confirm if the signal is received in the form of an object
                    const response = await fetch(`/speed/${speed.value}`);
		            // Calls the getter for the text aspect of the object
                    const text = await response.text();
		            // Prints the text to the website console
                    console.log(text);
                }
            }
 	        // Initializes the app object
            app.initialize();
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
</html>
